.container {
  position: fixed;
  right: 10px;
  z-index: 1;
  width: 250px;
  height: 600px;
  background-color: var(--background-white-opacity);
  border-radius: 10px;
  padding: 5px 0 5px 5px;
  border: 2px solid var(--color-black);
}

.notifications {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 600px;
  padding-right: 5px;
  overflow-y: scroll;

}
.notification {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 5px;
  background-color: var(--color-grey);
  text-align: center;
  padding: 5px;

  &_message {
    font-size: 18px;
  }

  &_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_accept {
      width: 100px;
      color: var(--color-white);
      border-radius: 2px;
      background-color: var(--color-green2);
    }
    &_reject {
      width: 100px;
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

}
