.board_content {
  display: flex;
  column-gap: 40px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  align-items: flex-start;


  &_column {
    min-width: 260px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 15px;
    padding-bottom: 25px;
    border: 1px solid rgba(0,0,0, 14%);
    row-gap: 10px;

    &_create {
      min-width: 260px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 10px 25px 25px;
      border: 1px solid rgba(0,0,0, 14%);
      row-gap: 10px;
    }
  }
  &_columnheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 5px;
  }
  &_columname {
    font-size: 16px;
  }
  &_addtask {
    cursor: pointer;
    font-size: 16px;
    color: var(--color-blue);
    padding-bottom: 10px;
  }

  &_tasks {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}

.more {
  cursor: pointer;
}

.show_all_button{
  cursor: pointer;
  padding: 20px;
}
.hide_all_button{
  padding: 20px;
  cursor: pointer;
}

.show_all_button:hover{
  color: var(--color-blue);
}
.hide_all_button:hover{
  color: var(--color-blue);
}