:root {
  --color-white: #FFFFFF;
  --color-blue: #109CF1;
  --color-red: #D20A11;
  --color-dark-blue: #334D6E;
  --color-grey: #C2CFE0;
  --color-grey2: #C4C4C4;
  --color-grey3: #969696;
  --color-green: #55b017;
  --color-green2: #2ED47A;
  --color-orange: #ff9800;
  --color-black: #000;
  --border-grey: #EBEFF2;
  --background-grey: #f5f6f8;
  --background-white-opacity: rgba(255, 255, 255, 0.95);
  --gradient-text: linear-gradient(90deg, #163E6C 15.61%, #D20A11 64.58%);
  --gradient-button: linear-gradient(90deg, #163E6C 50%, #D20A11 100%);
  --dust-red-6: #F5222D;
  --character-title-85: rgba(0, 0, 0, 0.85);
  --character-primary-inverse: #FFF;
}