.contacts_container {
  display: grid;
  grid-template: 1fr / 30% auto;
  height: 750px;
  column-gap: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  justify-content: space-between;

  &_list{
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    &_input {
      max-width: 90%;
      align-self: center;
    }
  }
  &_user {
    display: flex;
    column-gap: 12px;
    padding: 25px 30px 25px 15px;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;

    &_add {
      color: green;
      font-size: 20px;
      cursor: pointer;
    }
    &_notadd {
      color: red;
      font-size: 20px;
      cursor: pointer;
    }
    &_mininfo {
      display: flex;
      column-gap: 12px;
      align-items: center;
      cursor: pointer;
    }
    &_btns {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    &_img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
    &_name {
      font-size: 15px;
      font-weight: 600;
    }
  }

  &_find {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    column-gap: 5px;

    &_count {
      color: var(--color-blue);
      font-weight: 600;
    }
  }
}