.task {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 90px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  row-gap: 10px;
  background-color: var(--color-white);
  position: relative;
  cursor: grab;



  &_asign {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &_img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;



    &_assigned {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      position: absolute;
      right: 5px;
      bottom: 5px;
    }

    &_date {
      font-size: 14px;
    }

    &_dateicon {
      color: green;
      padding-bottom: 2px;

      &_end {
        color: red;
        padding-bottom: 2px;
      }
    }

    &_deadline{
      padding: 3px;
      display: flex;
      align-items: center;
      column-gap: 5px;

      &_end {
        padding: 3px;
        color: var(--color-red);
        border-radius: 10px;
        display: flex;
        column-gap: 5px;
        align-items: center;

      }
    }

    &_add {
      font-size: 18px;
      color: var(--color-blue);
    }

    &_priority {
      padding: 3px;
      border-radius: 15px;
      font-size: 15px;
      background-color: #F7D3CC;
      color: var(--color-red);
    }
    &_lowpriority {
      color: var(--color-green);
      font-size: 20px;
    }
    &_mediumpriority {
      color: var(--color-orange);
      font-size: 20px;
    }
    &_highpriority {
      color: var(--color-red);
      font-size: 22px;
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_content {
      display: flex;
      column-gap: 10px;
    }

    &_complete {
      cursor: pointer;
      color: var(--color-grey3);

      &_completed {
        color: var(--color-green);
      }
    }
    &_title {
      font-size: 15px;
    }
  }
}

.more {
  cursor: pointer;
}