.container {
  padding: 30px 50px 0 15px;
  display: flex;
  flex-direction: row;
  height: 100%;
  column-gap: 37px;
}

.tasks {
  width: 630px;
  height: 675px;
  background-color: var(--color-white);

  &_header {
    padding-left: 24px;
    padding-bottom: 10px;
  }

  &_list {
    height: 550px;
    overflow-y: scroll;
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &_item {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

    &_title {
      font-size: 15px;
      font-weight: 600;
    }
    &_body {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &_created {
      font-size: 13px;
    }
    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &_user {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 12px;
    }
    &_img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
    &_name {
      font-size: 15px;
      color: var(--color-grey3);
    }
    &_task {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
    }
    &_load {
      color: var(--color-green2);
    }
    &_notload {
      color: var(--color-orange);
    }
    &_edit {
      cursor: pointer;
      color: var(--color-grey3);
    }
    &_remove {
      cursor: pointer;
      color: var(--color-grey3);
    }
    &_remove:hover {
      color: var(--color-red);
    }
    &_edit:hover {
      color: var(--color-orange);
    }
    &_completed {
      background-color: var(--color-green2);
      color: var(--color-white);
      width: 120px;
    }
    &_work {
      background-color: var(--color-orange);
      color: var(--color-white);
      width: 120px;
    }
  }
}

.diagrams {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  height: 100%;
  width: 440px;

  &_area {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    column-gap: 45px;
    align-items: center;
    padding-left: 15px;
  }

  &_pie {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    column-gap: 45px;
    align-items: center;
    padding-left: 15px;

    &_tooltips {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
    &_status {
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
  }
}

.task_asign {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &_img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
  }
}
