.header {
  height: 60px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;


  &_notif {
    font-size: 24px;
    cursor: pointer;
  }
}