.setting_container {
  display: flex;
  column-gap: 55px;
  height: 695px;
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 16px 60px 20px 10px;
}

.setting_menu {
  height: 0;
  max-width: 200px;
}

