.container {
  display: flex;
  grid-template: 1fr /20% auto;
  width: 100%;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 377px) {
  .container {
    max-width: 345px;
  }
}


