.modal {
  font-size: 40px;

  &_members {
    width: 50%;
  }
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  row-gap: 80px;
  background-color: var(--color-white);

  &_date {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_time {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &_title {
      font-size: 24px;
      font-weight: 600;
    }
    &_text {
      font-size: 15px;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_name {
      font-size: 24px;
      font-weight: 600;
    }

    &_btns {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &_btn {
      color: var(--color-white);
      background-color: var(--color-red);
      width: 100px;
      border-radius: 2px;
    }

    &_end {
      color: var(--color-white);
      background-color: var(--color-green2);
      width: 100px;
      border-radius: 2px;
    }
    &_delete {
      color: var(--color-white);
      background-color: var(--color-red);
      width: 100px;
      border-radius: 2px;
    }
    &_analiz {
      color: var(--color-white);
      background-color: var(--color-orange);
      width: 100px;
      border-radius: 2px;
    }
  }

  &_description {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &_title {
      font-size: 20px;
      font-weight: 600;
    }
    &_text {
      font-size: 15px;
    }
  }

  &_members {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &_remove {
      color: var(--color-red);
      font-size: 20px;
      cursor: pointer;
    }
    &_info {
      display: flex;
      column-gap: 10px;
    }

    &_btn {
      width: fit-content;
    }

    &_title {
      font-size: 20px;
      font-weight: 600;
    }


    &_list {
      max-width: 300px;
      max-height: 200px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      row-gap: 10px;
      padding: 5px;
    }
    &_name {
      font-size: 15px;
      align-self: center;
    }
    &_item {
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid black;
      height: 40px;
      justify-content: space-between;
    }
    &_img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
  }
}

