.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-grey);
  row-gap: 26px;
}

.container {
  height: 100%;
  border-radius: 10px;
  background-color: var(--background-grey);
  padding: 0 50px 25px 25px;

  &_board {
    height: 100%;
    border-radius: 10px;
    background-color: var(--background-grey);
    padding: 0 0 25px 25px;
  }
}
