.chat {
  display: grid;
  grid-template-rows: 68px auto 100px;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 10px;


  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-grey);
    margin: 0;
    padding: 16px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &_info {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
    &_image {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
    &_more {
      cursor: pointer;
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 600px;
  }
  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid var(--border-grey);
    column-gap: 20px;

    &_input {
      resize: none;
    }

    &_icon {
      font-size: 20px;
      cursor: pointer;
    }

    &_other {
      display: flex;
      column-gap: 12px;
      padding: 10px 12px;
      border-left: 1px solid var(--border-grey);
    }
  }
}
.message {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 10px;
  padding: 20px;
  width: 200px;

  &_timestamp {
    font-size: 12px;
    color: var(--color-grey3);
  }

  &_image {
    width: 24px;
    height: 24px;
    border-radius: 100%;
  }

  &_userinfo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: start;
  }
  &_myinfo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: end;
  }

  &_usercontent {
    max-width: 520px;
    min-height: 20px;
    padding: 20px;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 5px;
    background-color: var(--color-blue);
  }
  &_mycontent {
    position: relative;
    border-radius: 5px 0 5px 5px;
    border: 1px solid var(--border-grey);
    min-height: 20px;
    max-width: 520px;
    padding: 20px;
    font-size: 16px;
    color: black;
    word-wrap: break-word;

  }

  &_mycontent:hover .delete {
    color: red;
    opacity: 1;
  }
}
.delete {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.myMessage {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  align-self: end;
  align-items: end;
}

.emojiGrid span {
  width: 50%;
  text-align: center;
  cursor: pointer;
}