.form {
  width: 100%;
  padding: 0;
  margin: 0;
}
.form_item {
  padding: 0;
  margin: 0;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  row-gap: 80px;
  background-color: var(--color-white);


  &_btn {
    width: 100px;

    &_add {
      border-radius: 0;
      width: 100px;
      background-color: var(--color-green2);
      color: var(--color-white);
    }
    &_delete {
      border-radius: 0;
      width: 100px;
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &_photo {
      background: none;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_plus {
      font-size: 50px;
    }

    &_userdata {
      display: flex;
      column-gap: 35px;
      align-items: center;
    }
    &_img {
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: var(--background-grey);
      align-items: center;
      justify-content: center;
    }
    &_info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &_name {
      font-size: 24px;
    }
    &_email {
      color: var(--color-grey2);
    }
  }

  &_resume {
    display: flex;
    flex-direction: column;

    &_workinfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      padding-bottom: 40px;
    }
    &_jobtitle {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &_workexperience{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &_title {
      font-size: 24px;
    }
    &_text {
      font-size: 20px;
      resize: none;
    }

    &_skilsinfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    &_skils {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 100%;
    }

    &_aboutinfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-top: 20px;
    }
    &_about {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 100%;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}