.auth_container {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--background-grey);
  padding-top: 60px;
}
.auth_form_container {
  background-color: var(--color-white);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 570px;
  max-width: 665px;
  width: 100%;
}

.auth_form {
  display: flex;
  flex-direction: column;

  &_title {
    font-size: 24px;
    padding-bottom: 75px;
  }

  &_item {
    width: 100%;

  }

  &_reg {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
  }
}
