.board_container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  height: 750px;
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
  width: 100%;
}
.board_header {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;

  &_view {
    background-color: var(--background-grey);
  }
  &_viewitem {
  }
}

.calendar{
  width: 90%;
}
