.chat_container {
  display: grid;
  grid-template: 1fr / 30% auto;
  height: 750px;
  column-gap: 30px;
}

.chats {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  justify-content: space-between;
  border-radius: 10px;

  &_list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    &_input {
      max-width: 90%;
      align-self: center;
    }
  }

  &_item {
    cursor: pointer;
    display: flex;
    column-gap: 12px;
    padding: 25px 30px 25px 15px;
    border-bottom: 1px solid var(--border-grey);
    align-items: center;
    justify-content: space-between;

    &_seleted {
      border-right: 3px solid var(--color-blue);
      transition: 50ms;
    }

    &_img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
    &_name {
      font-size: 15px;
      font-weight: 600;
    }
  }
}