.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 18px 0 0 0;
  row-gap: 80px;

  &_btn {
    width: 100px;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &_photo {
      background: none;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_plus {
      font-size: 50px;
    }

    &_userdata {
      display: flex;
      column-gap: 35px;
      align-items: center;
    }
    &_img {
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: var(--background-grey);
      align-items: center;
      justify-content: center;
    }
    &_info {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &_name {
      font-size: 24px;
    }
    &_email {
      color: var(--color-grey2);
    }
  }

  &_account {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 30%);
    width: 100%;
    border-radius: 10px;
    padding: 15px 20px;
    justify-content: space-between;
    row-gap: 20px;

    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      padding-bottom: 15px;
    }
    &_item:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &_text {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
    &_label {
      color: var(--color-grey2);
      font-size: 16px;
    }
    &_info {
      font-size: 20px;
    }
    &_btn {
      border: 1px solid var(--color-blue);
      color: var(--color-blue);
      border-radius: 2px;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}