.navbar {
  padding: 20px 50px 0 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &_btn {
    width: 100px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    color: var(--color-blue);
    font-size: 20px;
  }
  &_name {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-blue);
  }
  &_collapse {
    cursor: pointer;
  }

  &_profile {
    display: flex;
    column-gap: 32px;
    align-items: center;
    padding-top: 55px;
  }
  &_avatar {
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 100%;

    &_img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    padding-top: 45px;
    padding-bottom: 64px;
  }
  &_item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    cursor: pointer;


    &_icon {
      font-size: 24px;
      color: var(--color-grey);
    }

    &_name {
      font-size: 16px;
      color: var(--color-dark-blue);
    }

    &:hover &_icon,
    &:hover &_name {
      color: var(--color-blue);
    }
  }

  &_footer {
    display: flex;
    column-gap: 15px;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    cursor: pointer;


    &_icon {
      font-size: 24px;
      color: var(--color-grey);
    }

    &_name {
      font-size: 16px;
      color: var(--color-dark-blue);
    }

    &:hover &_icon,
    &:hover &_name {
      color: var(--color-blue);
    }
  }
}

